// Place all the styles related to the administrative/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.widget-user-2 .widget-user-header {
    padding: 20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.widget-user-2 .widget-user-image>img {
    width: 65px;
    height: auto;
    float: left;
}

.widget-user-2 .widget-user-username {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
}

.widget-user-2 .widget-user-username, .widget-user-2 .widget-user-desc {
    margin-left: 75px;
}

.profile-badge-list{
    margin-left: 10px !important;
}

.profile-box-list{
    margin-bottom: 0 !important; 
}

.img-list-event{
    width: 128px;
    height: auto;
}