<!DOCTYPE html>
<html>
  <head>
    <title>Gtimembersystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="global-spin" class="loading" style="display: none;">Loading&#8230;</div>
    <%= yield %>
  </body>
</html>
